In [8]:
#veri analiz kütüphaneleri 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split


#Görselleştirme
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Enerji verisini import etme (excel dosyasından)
df = pd.read_excel("EnergyData.xlsx")

# ML algoritmasının daha iyi öğrenmesi için bu aşırı değerleri çıkarabilriz.. 
df = df[df['electricity_consumption'] >= 2000]

In [9]:
#verimizin son hali...
df

,Day,production_pieces,average_weight,cycle_time_(Pcs/min),stoppage_rate,scrap_rate,electricity_consumption
2,2022-01-03,18359.0,2.349763,17.780925,0.278472,0.000000,6186.224000
3,2022-01-04,14989.0,2.526441,17.637201,0.402778,0.001001,6251.343000
4,2022-01-05,19613.0,2.050241,17.748432,0.225694,0.000714,6961.466000
5,2022-01-06,20261.0,1.780818,17.725779,0.197917,0.002073,6733.263000
6,2022-01-07,3839.0,1.908403,18.000000,0.550000,0.000000,2684.970000
...,...,...,...,...,...,...,...
662,2023-10-25,19756.0,1.503393,17.952824,0.232639,0.001215,6371.296910
663,2023-10-26,16139.0,2.070231,17.675197,0.358333,0.003346,5862.761167
664,2023-10-27,9328.0,2.023907,17.856990,0.634722,0.002466,4025.972444
667,2023-10-30,11455.0,2.944929,16.699433,0.518750,0.002706,4915.154853
668,2023-10-31,10556.0,2.687847,17.378174,0.574306,0.000000,4475.382224

In [10]:
#Tahmin kolonu ile diğerlerini ayıralım, Gün sütununun (Day) sonuca etkisi olmadığı için de dataframe den çıkaralım.
from sklearn.model_selection import train_test_split
X = df.drop(['Day', 'electricity_consumption'], axis=1)
y = df['electricity_consumption']

In [11]:
# X son hali:
X.head()

,production_pieces,average_weight,cycle_time_(Pcs/min),stoppage_rate,scrap_rate
2,18359.0,2.349763,17.780925,0.278472,0.000000
3,14989.0,2.526441,17.637201,0.402778,0.001001
4,19613.0,2.050241,17.748432,0.225694,0.000714
5,20261.0,1.780818,17.725779,0.197917,0.002073
6,3839.0,1.908403,18.000000,0.550000,0.000000

In [12]:
# y son hali:
y.head()

2    6186.224
3    6251.343
4    6961.466
5    6733.263
6    2684.970
Name: electricity_consumption, dtype: float64

In [19]:
#Train Test Bölümlemeleri Oluşturalım
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [20]:
x_train.head(7)

,production_pieces,average_weight,cycle_time_(Pcs/min),stoppage_rate,scrap_rate
472,17930.0,2.407664,17.376352,0.277083,0.001840
166,18774.0,1.490290,17.992543,0.270139,0.002184
617,7714.0,2.351700,17.528908,0.688889,0.000000
283,19283.0,1.701762,17.772857,0.243056,0.000363
258,18952.0,2.161395,17.793373,0.256250,0.002744
303,16919.0,1.687158,17.993026,0.343056,0.001891
72,18662.0,2.032772,18.000000,0.277083,0.000054

In [21]:
y_train.head(7)

472    6421.581000
166    6243.058194
617    3478.337289
283    6318.681375
258    6313.626466
303    5943.846517
72     6505.328000
Name: electricity_consumption, dtype: float64

In [23]:
# RandomForest Algoritması modeli eğitelim
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(x_train,y_train)
#Tahmin/test adımı
y_predict_rf = rf.predict(x_test)
#tahminleri görelim
y_predict_rf

array([6121.34807865, 6620.0189626 , 6339.39286019, 6233.11066827,
       5042.55775241, 6022.27562614, 6287.69402253, 6073.04155142,
       6560.85591541, 6597.24046724, 2545.97251586, 5979.06263267,
       5942.05327099, 4190.22724743, 6353.61121125, 4087.23161565,
       5419.17794688, 5771.82869952, 5504.86672964, 6672.59554845,
       4584.17644975, 6029.46838466, 6576.80501917, 6398.33800822,
       6295.74763806, 6612.38642662, 5481.2885001 , 6037.95045466,
       2734.99919263, 6094.97606484, 6615.99216407, 5848.35708338,
       2793.15911491, 6323.12791561, 6504.04958441, 6153.39522853,
       3963.35653813, 6219.41947904, 6262.3737052 , 3847.8334211 ,
       6023.504032  , 3964.03286243, 5604.21915533, 6301.11988886,
       5741.6832279 , 6279.47954251, 6073.92974752, 5152.34370249,
       5992.19633977, 6302.33839267, 5899.0762681 , 6640.0701385 ,
       2856.79241776, 5722.71283176, 5851.77346016, 6548.8176342 ,
       5875.47027103, 5932.09723805, 4151.65956577, 5800.62520683,
       6062.90248831, 6268.46191758, 4620.82703726, 3960.04865073,
       6279.32894197, 4503.31583571, 5415.33523208, 5470.3433937 ,
       6199.5331412 , 5649.37687442, 2844.25884289, 5864.27391726,
       5311.69696786, 6575.80693008, 6213.83820078, 4945.49513161,
       6616.37733745, 6340.61873795, 5864.04569568, 4576.48075996,
       5235.97061351, 5618.39306134, 6257.78728792, 5763.77260346,
       5496.2163918 , 4330.84773488, 3138.19906532, 6094.85788172,
       6329.29489685, 6684.08077273, 6645.75766999, 6354.3411822 ])

In [24]:
#Modeli servislemede kullanmak için dışarı aktaracağız
import joblib

joblib.dump(rf, "RandForest_model.sav")

['RandForest_model.sav']